.navMenu {
  display: block;
  visibility: visible;
}

.menuList {
  padding: 18px 0 10px 0;
}

.menuItem {
  padding: 5px 0;
  margin-bottom: 16px;
}

.menuLink {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.buttonLogout {
  background-color:#1C1C1C;
  border: none;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.001em;
  text-align: left;

}