.trackPlayLikeDis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 26%;
  }

  .trackPlayLike,
  .trackPlayDislike {
    padding: 5px;
  }

  .trackPlayLikeSvg {
    width: 16px;
    height: 14px;
    fill: transparent;
    stroke: #696969;
  }

  .trackPlayDislikeSvg {
    width: 16px;
    height: 14px;
    margin-right: 17px;
    transition: 0.5s ease;
    cursor: pointer;
    stroke: #696969;
  }

  .trackPlayDislikeSvg:hover {
    transform: scale(1.2);
    stroke: #ACACAC;
  }

  .trackPlayDislikeSvg:active {
    stroke: #FFFFFF;
  }